body {
    padding: 70px;;
}
h1 {
    font-size: 30px;
    text-align: center;
}

.content-paragraph{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}

p {
    width: 250px;
    text-align: center;
    margin-left: 30px;
    color: cadetblue;
}